Repository jitsi/jitsi-call-analytics: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add README.md
  README.md
Due: none

fix(build) Remove rtcstats-cli setup step from build
  DOCKER.md
  Dockerfile
  backend/MIGRATION.md
  build/build.sh
Due: none

squash: some more rtcstats-cli cleanup
  backend/CLAUDE.md
  build/run.sh
  docker-compose.yml
  run-docker.sh
Due: none

fix linter errors
  backend/src/services/RTCStatsDataService.ts
  backend/src/services/RTCStatsService.ts
  backend/src/services/S3DumpService.ts
Due: backend

fix(build) Remove rtcstats-cli setup step from build scripts.
  DOCKER.md
  Dockerfile
  backend/CLAUDE.md
  backend/MIGRATION.md
  backend/src/services/RTCStatsDataService.ts
  backend/src/services/RTCStatsService.ts
  backend/src/services/S3DumpService.ts
  build/build.sh
  build/run.sh
  docker-compose.yml
  run-docker.sh
Due: backend

fix: region var
  build/build.sh
Due: none

minor cleanup
  Dockerfile
  build/build.sh
Due: none

fix(build): minor cleanup
  build/build.sh
Due: none

squash: Remove frontend/build/index.html from repo squash: fix linter errors
  backend/src/config/rtcstats.ts
  backend/src/services/RTCStatsDataService.ts
  frontend/build/index.html
Due: backend

squash: Remove frontend/build/index.html from repo
  .gitignore
  backend/src/config/rtcstats.ts
  backend/src/services/RTCStatsDataService.ts
  frontend/.gitignore
  frontend/build/index.html
Due: backend

fix(logging) enforce LOG_LEVEL setting and move change log level of some chatty logs.
  CLAUDE.md
  backend/CLAUDE.md
  backend/src/index.ts
  backend/src/routes/sessions_analyze.ts
  backend/src/services/DumpProcessor.ts
  backend/src/services/DynamoDBMetadataService.ts
  backend/src/services/EventCorrelationEngine.ts
  backend/src/services/RTCStatsDataService.ts
  backend/src/services/RTCStatsService.ts
  backend/src/services/RedshiftDataAPIService.ts
  backend/src/services/S3DumpService.ts
  backend/src/services/__tests__/README.md
  backend/src/types/logger.d.ts
  backend/tsconfig.json
  frontend/.env.example
  frontend/CLAUDE.md
  frontend/package.json
  frontend/src/components/CallAnalyzer.tsx
  frontend/src/components/CallTimeline.tsx
  frontend/src/components/EndpointDetails.tsx
  frontend/src/components/JVBDetails.tsx
  frontend/src/components/JicofoDetails.tsx
  frontend/src/components/RTCStatsSearch.tsx
  frontend/src/components/WebRTCStatsVisualizer.tsx
  frontend/src/index.tsx
  frontend/src/services/AnalysisService.ts
  frontend/tsconfig.json
  package-lock.json
  shared/.gitignore
  shared/types/jitsi-logger.d.ts
Due: backend, frontend

chore: Add GitHub workflows for linting and other templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

Add frontend env for root deployment
  frontend/.env.production
Due: none

remove CORS weirdness
  Dockerfile
  backend/public/test.txt
  backend/src/index.ts
Due: backend

Path conditions:
  backend: any of: backend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts
